# Ignore compiled binaries
bin/

# Ignore object files
*.o

# Ignore TODO.md
TODO.md

# Ignore the build directory
build/

# Ignore the config directory
config/

# Ignore log files
*.log

# Ignore Test Folder
tests/Test

